/*Schrijf hier jouw css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #F2F3D9;
    color: #030027;
    text-align: center;
}

nav {
    background-color: #030027;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
}

nav h3 {
    text-transform: uppercase;
}

.introduction {
    padding:40px
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containers article {
    background-color: #C16E70;
    border-radius: 4px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
}